# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
*.zip
*.tar.gz
*.rar
build_log.txt
flutter_*.log

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# AI tool configs / caches
.claude/
.gemini/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android build artifacts & local configs
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle/
**/android/local.properties
**/android/captures/
**/android/app/build/
*.apk
*.aab

# iOS build artifacts
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
